.app {
    width: 100%;
    min-height: 100vh;
    overflow-x: hidden;
}

/* Navigation Visibility */
.mobile-nav {
    display: none;
}

@media (max-width: 768px) {
    .desktop-nav {
        display: none;
    }

    .mobile-nav {
        display: block;
    }
}